body {
    font-family: Arial, sans-serif;
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}

.container {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #2d3436;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b2bec3;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0984e3;
    color: white;
}

td {
    background-color: #f5f6fa;
}

tr:nth-child(even) td {
    background-color: #eaecef;
}

/* Button Styling */
.btn {
    background-color: #0984e3;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}

.btnLogout {
    background-color: #C1272D;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}


.btn:hover {
    background-color: #074c9d;
}

.btnLogout:hover {
    background-color: #9B1B30;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allow scrolling if modal content is tall */
}

.modal.active {
    display: flex;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.modal-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #b2bec3;
    border-radius: 5px;
    background-color: #f5f6fa;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-close {
    background-color: #ff4757;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #d84a56;
}

.modal-save {
    background-color: #0984e3;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-save:hover {
    background-color: #074c9d;
}
